<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>シフト表自動作成(Vue.js)</title>
    </head>
    <body>
        <div id="app" class="df">
            <div class="tbl">
                <table>
                    <thead>
                        <tr>
                            <th>月</th>
                            <th>火</th>
                            <th>水</th>
                            <th>木</th>
                            <th>金</th>
                        </tr>
                    </thead>
                    <tbody id="list">
                        <tr v-for="week in names6" :key="week.weekNumber">
                            <td v-for="day in week.days" :key="day.dayName">
                                <div v-for="name in day.names" :key="name">{{ name }}</div>
                            </td>
                        </tr>
                        </tbody>
                </table>
            </div>
            <div class="btn">
                <button v-on:click="buttonClick">ボタン</button>
            </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script src="main.js"></script>
</html>
